@charset "UTF-8";
/**
 * [xLarge Screen for PC]
 * >=1200
 */

/**
 * [Large Screen for PC & Pad]
 * 960~1199
 */
@media screen and (max-width: 1200px) {
.wrapper .inner { width:100%; margin:0 auto;padding:0;}
.wrapper .inner .mod {width:auto;padding:0 8px;}
.nav .wp-menu .menu-item {}
.nav .wp-menu .menu-item a.menu-link {padding: 0 6px;}

.main1 .inner{}
.main2 .inner{}
.post-12 .news_list li.news{height:34px;}
.post-21 .news_list li.news .news_title,
.post-22 .news_list li.news .news_title,
.post-23 .news_list li.news .news_title{width:75%;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 1;overflow: hidden;} 
.post-32 .news_list li.news .news_title,
.post-33 .news_list li.news .news_title{width:100%;overflow: hidden;text-overflow:ellipsis;white-space: nowrap;}
.post-12 .news_list li.news .news_title,
.post-321 .news_list li.news .news_title{display:inline-block;width: 75%;overflow: hidden;text-overflow:ellipsis;white-space: nowrap;}

.post-32 .news_list li.news .news_text,
.post-33 .news_list li.news .news_text{width:100%;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp:2;overflow: hidden;}

/*links*/
.botlinks .links-wrap {margin:4px 5px;}
/*banner*/
.focus .focus-title-bar {}


#footer .inner .foot-left{width:300px;padding-right:30px; border-right:0;}
#footer .inner .foot-center{display:none;}
#footer .inner .foot-right{border-left:0;}
}

/**
 * [Medium Screen for Pad]
 * 768~959
 */
@media screen and (max-width: 999px) {
.wrapper .inner {width:100%;margin:0 auto;}
.navi-aside-toggle,
.navi-aside-search {display: block;top: 33%;}

#header {/* background: #18267e; */position:relative!important;}
#header .inner{padding:10px 0px;height: auto;position:relative;background:none;}
.header .head-left{ float:none;display:inline-block; width:100%; height:auto; text-align:center;}
.header .sitelogo{float:none;margin-top:0px;}
.header .sitelogo a{display:inline-block;width:100%;margin:0 auto;}
.header .sitetitle {margin-top:38px;font-size:28px;}
.header .head-main{display:none;}
.header .head-center{display:none;}
.header .head-right{float:none;width:100%;margin-top:0px;padding-top:0}
.header .head-right .searchbox{float:none;margin: 5px 0px; width:100%;}
.search-window {width:100%!important;border:1px solid #878787;position:relative;border-radius:4px;}

.site-lang{float:none;display:none;}
/*导航样式：后台绑定时也可以定义配置*/
.wp-navi .wp-menu{display:none;}
.wp-navi-slide .navi-slide-head {display: block;padding:0 10px;height: 40px;}
.wp-navi-slide .wp-menu {background:#fff;}
.wp-navi-slide .wp-menu .menu-item {display: inline-block;float:none; position: relative; z-index: 100;width:100%;padding-left:0px;text-align:left;border-bottom:1px solid #eee}
.wp-navi-slide .wp-menu .menu-item .menu-switch-arrow{display: block;width: 38px;height: 38px;position: absolute;right: 6px;top: 1px;background: url(css/img/icons.png) no-repeat 10px -116px;}
.wp-navi-slide .wp-menu .menu-item a.menu-link {display:block;padding: 0 20px;line-height: 40px;color: #343434;font-size: 14px; }
.wp-navi-slide .wp-menu .menu-item a.menu-link.hover,
.wp-navi-slide .wp-menu .menu-item.hover a.menu-link,
.wp-navi-slide .sub-menu .sub-item.hover> a,
.wp-navi-slide .sub-menu .sub-item a:hover{ text-decoration: none; color: #000; background-color: #eee; }
.wp-navi-slide .sub-menu {display: none;position:relative;left: 0;bottom: 0px;top: 0px;min-width: 0px;z-index: 100;background: #fff;opacity: 0.8;}
.wp-navi-slide .sub-menu .sub-item {position: relative;white-space: nowrap;vertical-align: top;border-bottom: 1px solid #eee;}
.wp-navi-slide .sub-menu .sub-item a {display: block;color: #000;height: auto;line-height: 40px;padding: 0 36px;font-size: 14px;background:none;}
.wp-navi-slide .sub-menu .sub-item a:hover { color: #000; background-color:#eee; display: block; }
.wp-navi-slide .sub-menu .sub-menu {left:0;top: 0;}
.wp-navi-slide .sub-menu .sub-menu .sub-item a {padding: 0 52px;}

.mbanner .focus{/* display:none; */}
.mbanner .focus .focus-title-bar {display:none!important;}

.main0{margin-bottom:0px;}
.main0 .inner{padding:10px 0;}

.main1 .inner{padding: 10px 0 0;}
.main1 .ml{float:none;width:100%;padding-top: 0px;}
.main1 .mll{float:none; width:100%; margin-left:0px;min-height:0px;}
.main1 .mc{ float:none; width:100%;margin-left:0px;}
.main1 .mr{float:none; width:100%;} 

.main2 .inner .mod{margin: 0px 0px;}
.main2 .ml{float:none;width:100%;}
.main2 .mr{float:none;width:100%;}
.main2 .ml .post,
.main2 .mr .post{margin: 0 0px;}

.post4 .tt .tit {font-size:18px;}
/*左标题右内容*/
.post5 {background:transparent;}
.post5 .tt {float:none;width: 100%;margin-right:0px;border-bottom: 2px solid #146cc1;}
.post5 .tt .tit {float:none;margin-top: 0px;width:100%;}
.post5 .tt .tit .title {display:inline-block;margin-right:20px;font-size: 16px; font-weight:bold;color: #18267d;cursor:pointer;}
.post5 .more_btn{display:inline-block;right:0;bottom: 0px; margin-top: 0px; text-align: right;} 
.post5 .more_btn a{line-height: 45px;color:#666;}
.post5 .con{padding:6px 0;position:relative;}
.post5 .con .conbox{margin-left:0px;padding-left:0px;background:transparent;}

.post-21 .news_tu .news_list li.news{float:left;width:50%;}

.post-41 .con{padding:8px 0;}
.post-41 .news_tu .news_list { margin:0px -5px;}
.post-41 .news_tu .news_list li.news{/* width:50%; *//* margin-bottom:10px; */}
.post-41 .news_tu .news_list li.news.n3{width:100%;}
.post-41 .news_tu .news_list li.news .news_box{margin:0px 5px; }
.post-41 .news_tu .news_list li.news .news_imgs,
.post-41 .news_tu .news_list li.news.n2 .news_imgs{padding-top: 23%;}
.post-41 .news_tu .news_list li.news.n3 .news_imgs{padding-top: 30%;}

.post-61 .news_list li.news .link_icon .icon{display:inline-block; margin:0 auto;}
.post-61 .news_list li.news .link_con{display:block;line-height: 32px;font-size: 16px;color: #fff;text-align:center;}

.post-61.p62 .news_list{margin:0 -5px;}
.post-61.p62 .news_list li.news{width:50%;}
.post-61.p62 .news_list li.news.i5{width:100%;}
.post-61.p62 .news_list li.news .news_box{margin:0 5px;}
.post-61.p62 .news_list li.news .link_icon{padding: 10px 0px;}
.post-61.p62 .news_list li.news .link_con{display:inline-block;}

.post-51 .con{padding: 10px 0 0;}
.post-51 .news_list{margin:0 -5px;}
.post-51 .news_list li.news{width:33.3%;}
.post-51 .news_list li.news.i10{display:none;}
.post-51 .news_list li.news .news_box{margin:0 5px;}

#footer .inner {background:none;padding:15px 0px;}
#footer .inner .foot-left{float:none;width:100%;padding-left: 0px;background: none;padding: 0;}
#footer .inner .foot-left p{display:none;text-align:center;}
#footer .inner .foot-center{float:none;margin-left:0px;margin-top:10px;}
#footer .inner .foot-right{float:none;margin-top: 0px;padding-left:0px;}
.shares ul{display:inline-block;width:auto; margin:0 auto;float:none;}

.post-92 {margin-bottom:0px;float:none;}
/*二维码*/
.post-91{display:none;margin-top: 8px;float:none;margin-left:0px;}
#footer_bottom {display:block;background: #0b4581;}
/**友情链接**/
.botlinks .links-wrap {float: none;display: inline-block;margin:4px 0px;width:100%;}
.botlinks .links-wrap .link-items {min-width:100%;}

/*图列表*/
.news_tu .news_list li.news{width:33.3%;}
}
/**
 * [Small Screen for Smart Phone and Mini Pad]
 * 480~767
 */
@media screen and (max-width: 767px) {
#header .inner{height: auto;}
.header .sitelogo a img{max-width: 85%;margin:5px 0px;}
.header .sitelogo a{}
.header .sitetitle {display:none;margin-top: 10px;font-size:18px;}

.main1 .ml{float:none; width:100%;}
.main1 .mr{float:none; width:100%;}
 
.main2 .inner .mod{margin: 0px 0px;}
.main2 .ml,
.main2 .mr{float:none;width:100%;}
.main2 .ml .post,
.main2 .mr .post{margin: 0 0px;}

.main4 .inner{padding: 10px 0 15px;}
.main4 .mr{float:none;}

.post-31 .tu_text .news_list li.news .news_imgs{float: none;width:100%;}
.post-31 .tu_text .news_list li.news .news_imgs a{height:auto;}
.post-31 .tu_text .news_list li.news .news_imgs img{max-width:100%;max-height:100%;height:auto;width:100%;}
.post-31 .tu_text .news_list li.news .news_wz .news_con{margin-left:0px;padding: 20px 20px;position:relative;} 



.post-12 .news_list li.news{/* width:33.3%; */}
.post-41 .news_list li.news{width:50%;}
.post-41 .news_tu .news_list li.news .news_title, 
.post-41 .news_tu .news_list li.news.n2 .news_title,
.post-41 .news_tu .news_list li.news.n3 .news_title{line-height:24px;font-size: 16px; font-weight:normal;} 
.post-41 .news_tu .news_list li.news .news_title{padding: 0px 28px;} 

.post-51 .news_list li.news{width:50%;}

.post-61 .news_list{margin:0 -4px;}
.post-61 .news_list li.news{width:50%;margin-bottom:10px;}
.post-61 .news_list li.news .news_box{margin:0 4px;}
.post-61 .news_list li.news .link_icon{padding:5px 0px;}

#footer .inner {padding: 17px 0px; text-align:center;}
#footer .inner .foot-left{float:none;width:100%;}
#footer .inner p{/* text-align:center; */}
#footer .inner .foot-right{/* display:inline-block; *//* margin:0 auto; *//* float:none; */margin-top: 10px;}

.mbanner .focus-pagination {display:none;}
/*栏目图片*/
.l-banner{height: 180px;}
.l-banner img{width:100%;height:100%;}
#l-container .inner,
#d-container .inner {padding:0px 0px;}
#l-container.wrapper .inner .mod,
#d-container.wrapper .inner .mod{padding:0;}

.column-switch {display:block;}

.col_menu .col_menu_head h3.col_name .col_name_text {display:block;line-height:40px;pa;padding: 0px 5px 0px 12px;font-size: 17px;}/**栏目名称图标**/
.col_menu {width: 100%;float:none;margin-right:0px;position:relative;} 
.col_menu .col_menu_con{display:none;border:0px solid #e4e4e4;}
.col_metas .col_title h2 {font-size:18px;}/**当前栏目名称**/

.col_news {width: 100%;min-height:0px;float:none;} /**栏目新闻**/
.col_news .col_news_box{margin-left: 10px;margin-right: 10px;}
.col_news_con { padding:5px 0px 10px 0px; margin:0 0px;}
.col_news_con  .news_list li.news {line-height:24px;padding:4px 0px;}
.col_news_con  .news_list li.news span.news_title {line-height:24px;margin-right:100px;}/*标题*/
.col_news_con  .news_list li.news span.news_meta {margin-left:-100px;}/*属性*/

.wp_paging li.pages_count,.wp_paging li.page_jump{display:none;}

.infobox { width:auto;padding:0px;  margin:0 10px; }

.col_news_list .wp_entry img,
.article .entry .read img{max-width: 100%;height:auto!important; width:100%;}/**文章阅读部分图片大小限制**/

/*图列表*/
.news_tu .news_list li.news{width:50%;}
/*组织机构*/
.inss .part_xy .sub-list .sub-item{width:50%;}

}
/**
 * [xSmall Screen for Smart Phone]
 * 480~767
 */
@media screen and (max-width: 479px) {
.site-lang ul li.links a{/* margin: 0px 2px 0px 2px; */}
.post-11 .news_list li.news .news_title{width:73%;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp:1;overflow: hidden;} 
.post-12 .news_list li.news{width:100%;}   
#footer .inner p.copyright span{display:block;}

.article h1.arti_title {line-height: 28px;font-size:18px;}
.article h2.arti_title {line-height: 28px;font-size: 16px;}

/*图列表*/
.news_tu .news_list li.news{width:100%;}
/*组织机构*/
.inss .part_xy .sub-list .sub-item{width:100%;}
}
/**
 * [Tiny Screen for Older Phone and Smart Phone]
 * <319
 */
@media screen and (max-width: 319px) {
    
}