* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}
html,
body,
ul,
ol,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
table,
td,
img,
div,
dl,
dt,
dd,
input {
  padding: 0;
  margin: 0;
}
html, body {
  font-size: 14px;
  font-family: "San Francisco", "Helvetica Neue", "Tahoma", "Arial", "PingFang SC","Hiragino Sans GB", "Heiti SC", "Microsoft YaHei","WenQuanYi Micro Hei", sans-serif;
  background-color: #ffffff;
}
img {
  border: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -webkit-user-select:none;  
  -o-user-select:none;  
  user-select:none;
}
li {
  list-style: none;
}
input,
select,
textarea {
  outline: none;
}
a,
u {
  text-decoration: none;
}
a:hover {
  text-decoration: none !important;
}
i {
  font-style: normal;
}
.clearfix:after {
  content: "";
  display: block;
  clear: both;
}
.clearfix {
  zoom: 1;
}

/* ps-scrollbar-x-rail */
.ps-scrollbar-x-rail {
  display: none !important;
}
.ps-container .ps-scrollbar-y-rail,
.ps-container .ps-scrollbar-y {
  width: 5px !important;
}

.pull-left {
  float: left !important;
}

.pull-right {
  float: right !important;
}

.page {
  width: 100%;
  height: auto;
  position: relative;
}

.fixed {
  position: fixed;
}

.hide {
  display: none !important;
}

/* container */
.container {
  width: 100%;
  max-width: 100%;
  padding: 0 0.24rem;
}

@media (min-width: 768px) {
  .container {
    width: 100%;
    max-width: 100%;
    padding: 0 0.4rem;
  }
}

@media (min-width: 925px) {
  .container {
    width: 100%;
    max-width: 100%;
    padding: 0 1rem;





  }
}

@media (min-width: 1440px) {
  .container {
    width: 100%;
    max-width: 100%;
    padding: 0 2rem;
  }
}
/* -手机-、-平板-、-笔记本 、-显示屏  */
:root{
  --default-color: #070707;
  --my-color: #cef3ee;
  --main-color: #00527E;
  --main-color2: #07080a;
  --white-color: #ffffff;
  --hover-color: #0078D7;
  --font-color: #6A6A6A;
  --font-light-color: #9A9A9A;
  --font-tips-color: #10375C;
  --bg-color1: #a9cfe9;
  --bg-color2: #e5f4fd;
  --bg-color3: #8BB7D2;
  --bg-color4: #829FC5;
  --bg-color5: #13455F;
  --bg-color6: #8BB7D2;
  --bg-color7: #F5FCFF;
  --bg-color8: #80A3CF;
  --bg-color9: #0C4460;
  --bg-color10: #7BB3D8;
  --bg-color11: #f2f5fa;
  --bg-color12:#e9ecef;
  --footer-bg-color: #0D2C4A;
  --mid-gutter: 0.64rem;
  --black-color1: #222831;
}
