.head {
  width: 100%;
  height: auto;
  left: 0;
  top: 0;
  z-index: 999;
  background-color: var(--white-color);
}

.head .pc-nav {
  width: 100%;
  height: 120px;
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 20px;
}

.head .pc-nav .left-logo {
  vertical-align: bottom;
  height: auto;
  line-height: 32px;
  margin-bottom: 5px;
}

.head .pc-nav .left-logo a {
  display: inline-block;
  height: auto;
  vertical-align: top;
}

.head .pc-nav .left-logo a img {
  display: inline-block;
  height: 32px;
  line-height: 32px;
}

.head .pc-nav .mid-nav ul li {
  display: inline-block;
  vertical-align: bottom;
}

.head .pc-nav .mid-nav ul li a {
  display: inline-block;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  color: var(--default-color);
  padding: 21px 20px 0;
  -webkit-transition: color 0.3s ease-out 0s, font-weight 0.3s ease-out 0s;
  -moz-transition: color 0.3s ease-out 0s, font-weight 0.3s ease-out 0s;
  -o-transition: color 0.3s ease-out 0s, font-weight 0.3s ease-out 0s;
  -ms-transition: color 0.3s ease-out 0s, font-weight 0.3s ease-out 0s;
  transition: color 0.3s ease-out 0s, font-weight 0.3s ease-out 0s;
}

.head .pc-nav .mid-nav ul li:hover a,
.head .pc-nav .mid-nav ul li.active a {
  color: var(--main-color);
  font-weight: 600;
}

.head .pc-nav .btn-box {
  margin-bottom: -10px;
}

.head .pc-nav .btn-box .btn-primary,
.head .pc-nav .btn-box .btn-primary:focus {
  font-size: 14px;
  line-height: 40px;
  font-weight: 600;
  letter-spacing: 0.1em;
  color: var(--white-color);
  height: 42px;
  border-radius: 4px;
  border-color: var(--main-color);
  background-color: var(--main-color);
  padding: 0 24px;
  outline: none !important;
  box-shadow: none;
}

.head .pc-nav .btn-box .btn-primary:hover {
  box-shadow: none;
  border-color: var(--hover-color);
  background-color: var(--hover-color);
}

/* 移动端导航菜单 */
.head .mobile-nav-box {
  width: 100%;
  height: 80px;
  line-height: 80px;
  display: none;
  background-color: var(--white-color);
  justify-content: space-between;
  align-items: center;
}

.head .mobile-nav-box .logo-box {
  display: inline-block;
  height: 80px;
  line-height: 80px;
}

.head .mobile-nav-box .logo-box a {
  display: inline-block;
  width: 100%;
  height: 80px;
  line-height: 80px;
  vertical-align: top;
  font-size: 0;
  text-align: center;
}

.head .mobile-nav-box .logo-box a img {
  display: inline-block;
  height: 32px;
  line-height: 80px;
}

.head .mobile-nav-box .right-nav {
  width: 28px;
  height: 80px;
  line-height: 80px;
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.head .mobile-nav-box .right-nav .main-nav-bar {
  height: 14px;
  vertical-align: middle;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.head .mobile-nav-box .right-nav .main-nav-bar .nav-bar {
  display: inline-block;
  width: 18px;
  height: 2px;
  border-radius: 1px;
  background-color: var(--default-color);
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  -ms-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.head .mobile-nav-box .right-nav .main-nav-bar.active .nav-bar:first-child {
  transform: translateY(6px) rotateZ(45deg);
  transform-origin: center;
  -webkit-transform-origin: center;
}

.head .mobile-nav-box .right-nav .main-nav-bar.active .nav-bar:nth-child(2) {
  display: none;
}

.head .mobile-nav-box .right-nav .main-nav-bar.active .nav-bar:last-child {
  transform: translateY(-6px) rotateZ(-45deg);
  transform-origin: center;
  -webkit-transform-origin: center;
}

.mobile-nav-submenu {
  width: 100%;
  height: auto;
  overflow: hidden;
  max-height: 100%;
  overflow-y: scroll;
  position: fixed;
  z-index: 998;
  padding: 80px 0 0;
  box-sizing: border-box;
  opacity: 0;
  display: none;
  background-color: var(--white-color);
  transform: translate(0, -100%);
  left: 0;
  top: 0;
  transition: opacity 0.3s ease-out 0.3s, transform 0.3s ease-out 0.3s;
}

.mobile-nav-submenu.active {
  opacity: 1;
  transform: translate(0, 0);
}

.mobile-nav-submenu>ul {
  height: 100%;
  padding-top: 42px;
  box-sizing: border-box;
  text-align: center;
  padding-bottom: 48px;
}

.mobile-nav-submenu>ul>li {
  height: auto;
  margin-bottom: 20px;
}

.mobile-nav-submenu>ul>li a {
  display: block;
  height: auto;
  font-size: 18px;
  line-height: 25px;
  font-weight: 400;
  color: var(--default-color);
}

.mobile-nav-submenu>ul>li a:hover,
.mobile-nav-submenu>ul>li a:focus,
.mobile-nav-submenu>ul>li.active a {
  font-size: 24px;
  line-height: 36px;
  font-weight: 500;
  color: var(--main-color);
}

.mobile-mask {
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 997;
  opacity: 0;
  display: none;
  transform: translate(0, -100%);
  transition: opacity 0.3s ease-out 0.3s, transform 0.3s ease-out 0.3s;
}

.mobile-mask.active {
  opacity: 1;
  transform: translate(0, 0);
}
.left-logo img {
  width: 200px; 
  height: auto; 
}

@media (max-width: 925px) {
  .head .mobile-nav-box {
    display: flex;
  }
  .mobile-nav-submenu, .mobile-mask {
    display: inline-block;
  }
  .head .pc-nav {
    display: none;
  }
}

@media (max-width: 425px) {
  .head .mobile-nav-box {
    height: 60px;
    line-height: 60px;
  }
  .head .mobile-nav-box .logo-box {
    height: 60px;
    line-height: 60px;
  }
  .head .mobile-nav-box .logo-box a {
    height: 60px;
    line-height: 60px;
  }
  .head .mobile-nav-box .logo-box a img {
    line-height: px;
  }
  .head .mobile-nav-box .right-nav {
    height: 60px;
    line-height: 60px;
  }
  .mobile-nav-submenu {
    padding: 60px 0 0;
  }
}

.logo-box img {
  width: 100px; 
  height: auto; 
}
