.page {
  padding-top: 120px;
}

.page .pc-body {
  display: block;
}

.page .pc-body .section {
  width: 100%;
  height: auto;
}

.page .pc-body .section .section-item {
  width: 100%;
  min-height: 400px;
  height: 50vh;
}

.page .pc-body .section .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.page .pc-body .section1 {
  min-height: auto;
  height: auto;
  padding: 0.78rem 0 0;
  padding-bottom: 100px;
}

.page .pc-body .section1 .section-left, .page .pc-body .section1 .section-right {
  flex: 1;
}

.page .pc-body .section1 .section-left {
  padding-right: var(--mid-gutter);
}

.page .pc-body .section1 .section-left img {
  width: 100%;
}


.page .pc-body .section11 .section-item {
  background-color: var(--white-color);
  height: auto;
}

.page .pc-body .section11 .section-item .container {
  align-items:flex-start;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page .pc-body .section11 .section-item > .title {
  text-align: center;
  font-size: 30px;
  line-height: 32px;
  font-weight: 500;
  color: var(--default-color);
}

.page .pc-body .section11 .section-item > .subtitle {
  text-align: center;
  font-size: 16px;
  line-height: 32px;
  font-weight: 500;
  margin: 0.16rem auto 0.62rem;
  color: var(--default-color);
}
.page .pc-body .section7 .container .desc{
  font-size: 18px;
  line-height: 32px;
  font-weight: 400;
  color: var(--default-color);
  margin-top: 0.24rem;
 padding-left: 40px;
}
.page .pc-body .section11 .section-item .container .section5-item {
  flex: 1;
  color: var(--default-color);
  margin: 30px;
}

.page .pc-body .section11 .section-item .container .section5-item:first-child {
  padding-left: 0;
}

.page .pc-body .section11 .section-item .container .section5-item:last-child {
  padding-right: 0;
}

.page .pc-body .section11 .section-item .container .section5-item .item-content {/*Ã¦â€Â¹Ã¦Â¡â€ Ã¥Â¤Â§Ã¥Â°Â*/
  height: 200px;
  width: 1000px;
  /*border-radius: 8px;*/
}

.page .pc-body .section11 .section-item .container .section5-item .item-content {
  background-color: var(--bg-color11);
}

.page .pc-body .section11 .section-item .container .section5-item .item-content {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  align-items: flex-start;
}

.page .pc-body .section11 .section-item .container .section5-item .item-content img {
  width: 300px;
  height: 200px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.page .pc-body .section11 .section-item .container .section5-item .item-content .title {
  font-size: 0.24rem;
  line-height: 0.56rem;
  margin: 0 0 0;
}

.page .pc-body .section11 .section-item .container .section5-item .item-content .subtitle {
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  text-align: center;
}

.page .pc-body .section11 .section-item .container .section5-item .item-content .subtitle p {
  margin-bottom: 0.12rem;
}
.page .pc-body .section1 .section-right .title-tips {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 32px;
  height: 32px;
  margin-bottom: 0.3rem;
}

.page .pc-body .section1 .section-right .title-tips span {
  display: inline-block;
  font-size: 40px;
  line-height: 32px;
  font-weight: 500;
  margin-right: 0.24rem;
}

.page .pc-body .section1 .section-right .title-tips i {
  display: inline-block;
  width: 0.73rem;
  height: 0.02rem;
  background-color: var(--default-color);
  line-height: 0.02rem;
  vertical-align: middle;
}

.page .pc-body .section1 .section-right .title {
  font-size: 0.24rem;
  line-height: 32px;
  font-weight: 500;
  color: var(--font-light-color);
  margin-top: 0.24rem;
  padding-left: 50px;
  text-indent: 2em;
}

.page .pc-body .section1 .section-right .title.subtitle {
  font-size: 0.4rem;
  line-height: 0.62rem;
  color: var(--main-color);
}

.page .pc-body .section1 .section-right .title i {
  color: #DD2C00;
}

.page .pc-body .section1 .section-right .desc {
  margin-bottom: 0.46rem;
}

.page .pc-body .section1 .section-right .desc p {
  display: inline-block;
  width: 100%;
  font-size: 16px;
  line-height: 32px;
  font-weight: 600;
  color: var(--font-color);
  margin-bottom: 0.32rem;
}

.page .pc-body .section1 .section-right .desc p:last-child {
  margin-bottom: 0;
}

.page .pc-body .section1 .section-right .desc p.active {
  color: var(--font-tips-color);
}

.page .pc-body .section2 .section-item {
  background-color: var(--my-color);
}

.page .pc-body .section2 .section-item .container .section-left {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  background: url(../images/section2_bg.png) no-repeat right center;
}

.page .pc-body .section2 .section-item .container .section-left .section-words {
  width: 100%;
  height: auto;
  margin-bottom: 0.6rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.page .pc-body .section2 .section-item .container .section-left .section-words p {
  text-align: center;
}

.page .pc-body .section2 .section-item .container .section-left .section-words p.title {
  font-size: 0.4rem;
  line-height: 0.62rem;
  font-weight: 600;
  color: var(--white-color);
}

.page .pc-body .section2 .section-item .container .section-left .section-words p.subtitle {
  font-size: 20px;
  line-height: 32px;
  font-weight: 500;
  margin-right: -1rem;
  color: var(--white-color);
}
.title1 a {
  font-size: 18px;
  color: #0e0b0b; 
  text-decoration: none; /* 移除下划线 */
  line-height: 30px;
  padding-left: 20px;
}
.title1 a:hover {
  color: #84a8c5; 
}



.page .pc-body .section3 {
  width: 100%;
  height: auto;
}

.page .pc-body .section3 .section-item.section-item-feature {
  background-color: var(--bg-color11);
  height: 750px;
}

.page .pc-body .section3 .section-item.section-item-feature .container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.page .pc-body .section3 .section-item.section-item-feature .left-box,
.page .pc-body .section3 .section-item.section-item-feature .right-box {
  flex: 0.3;
  text-align: right;
}

.page .pc-body .section3 .section-item.section-item-feature .left-box {
  padding-right: 0.5rem;
}
.video-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 600px;
  height:350px;
}
.video-wrapper video {
  width: 90%;
  height: 100%;
  border-radius: 8px;
  object-fit: contain
  ; 
}

.page .pc-body .section3 .section-item.section-item-feature .section-words {
  flex: 0.5;
}
.section-words {       
  display: flex;
  flex-direction: column;
  align-items: center;
}
.page .pc-body .section3 .section-item.section-item-feature .section-words p {
  font-size: 40px;
  line-height: 32px;
  font-weight: 500;
  color: var(--default-color);
  text-align: center;
}

.page .pc-body .section3 .section-item.section-item-feature .section-words p.subtitle {
  font-size: 18px;
  line-height: 32px;
  font-weight: 400;
  color: var(--default-color);
  margin-top: 0.24rem;
  width: 1000px;
  text-align: left;
  width: 500px;
}

.page .pc-body .section3 .section-item.section-item1 {
  background-color: var(--default-color);
}
.page .pc-body .section3 .section-item.section-item2 {
  background-color: var(--bg-color2);
}
.page .pc-body .section3 .section-item.section-item3 {
  background-color: var(--bg-color3);
}
.page .pc-body .section3 .section-item.section-item4 {
  background-color: var(--bg-color2);
}
.page .pc-body .section3 .section-item.section-item5 {
  background-color: var(--default-color);
}
.page .pc-body .section3 .section-item.section-item6 {
  background-color: var(--bg-color4);
}
.page .pc-body .section3 .section-item.section-item7 {
  background-color: var(--default-color);
}
.page .pc-body .section3 .section-item.section-item8 {
  background-color: var(--bg-color11);
}
.page .pc-body .section3 .section-item.section-item9 {
  background-color: var(--white-color);
}
.page .pc-body .section3 .section-item.section-item10 {
  background-color: var(--bg-color5);
}
.page .pc-body .section3 .section-item.section-item11 {
  background-color: var(--default-color);
}

.page .pc-body .section3 .section-item-content .container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.page .pc-body .section3 .section-item-content .section-item-img {
  width: 50%;
  padding-left: 0;
  text-align: right;
}

.page .pc-body .section3 .section-item-content:nth-of-type(2n+1) .section-item-img{
  width: 50%;
  text-align: left;
  padding-left: var(--mid-gutter);
  padding-right: 0;
  padding-left: 0;
}

.page .pc-body .section3 .section-item-content .section-item-img img {
  display: inline-block;
  width: 100%;
}

.page .pc-body .section3 .section-item-content .section-item-words {
  width: 50%;
  color: var(--default-color);
  padding: 0,0.0;
}

.page .pc-body .section3 .section-item-content.section-item2 .section-item-words,
.page .pc-body .section3 .section-item-content.section-item4 .section-item-words {
  color: var(--main-color);
}

.page .pc-body .section3 .section-item-content:nth-of-type(2n+1) .section-item-words {
  width: 50%;
  padding-right: var(--mid-gutter);
  padding-left: 0;
  padding-right: 0;
}
.page .pc-body .section3 .section-item-content:nth-of-type(2n+1) .section-item-words3 {
  width: 50%;
  padding-right: var(--mid-gutter);
  padding-left: 80px;
  padding-right: 0;
}

.page .pc-body .section3 .section-item-content .section-item-words .words-content {
  float: left;
  max-width: 65%;
}

.page .pc-body .section3 .section-item-content.section-item9 .section-item-words .words-content {
  float: left;
  max-width: 90%;
}

.page .pc-body .section3 .section-item-content:nth-of-type(2n+1) .section-item-words .words-content {
  float: right;
  padding-left: 30px;
}

.page .pc-body .section3 .section-item-content .section-item-words .title {
  display: block;
  font-size: 0.52rem;
  line-height: 0.8rem;
  font-weight: 400;
}

.page .pc-body .section3 .section-item-content .section-item-words .subtitle {
  display: flex;
  font-size: 24px;
  line-height: 0.6rem;
  font-weight: 500;
  margin-bottom: 0.16rem;
}
.page .pc-body .section3 .section-item-content .section-item-words3 .subtitle {
  display: block;
  font-size: 0.36rem;
  line-height: 0.6rem;
  font-weight: 500;
  margin-bottom: 0.16rem;
  text-align: left;
}
.section-item-words {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.section-item-words3 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.section-item-words1 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 50%;
  height: 100%;
  padding-left: 30px;
}
.words-content {
  text-align: center;
}
.title23 {  
  text-align: center;  
  display: block;
  font-size: 0.16rem;
  line-height: 0.4rem;
  font-weight: 400;
}
.words-content1 {
  text-align: left;
}
.desc {
  display: inline-block;
  text-align: left;
}
.page .pc-body .section3 .section-item-content .section-item-words .desc {
  font-size: 21px;
  font-weight: 400;
  color: var(--font-light-color);
}
.page .pc-body .section3 .section-item-content .section-item-words3 .desc {
  font-size: 0.24rem;
  line-height: 60px;
  font-weight: 400;
}
.page .pc-body .section3 .section-item-content .section-item-words .desc p {
  margin-bottom: 0.16rem;
}
.desc1 p {
  color:var(--default-color);
  font-size: 18px;
  font-weight: 400;
  text-align: left;
 }
 .subtitle1{
  color:#09090a;
  display: block;
  font-size: 24px;
  line-height: 0.6rem;
  font-weight: 500;
  text-align: left;
  margin-bottom: 0.16rem;
 }
.page .pc-body .section4 .section-item {
  background-color: var(--bg-color7);
  min-height: 450px;
  height: 450px;
  background-image: url(../images/section4_bg.png);
  background-repeat: no-repeat;
  background-position: right -50px bottom;
  background-size: 20%;
}

.page .pc-body .section4 .section-item .container {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.page .pc-body .section4 .section-item .title {
  text-align: center;
  font-size: 0.4rem;
  line-height: 0.62rem;
  font-weight: 600;
  color: var(--main-color);
  margin-bottom: 0.67rem;
}

.page .pc-body .section4 .section-item ul {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.page .pc-body .section4 .section-item ul li {
  display: inline-block;
  height: 0.56rem;
  margin: 0 0.24rem 0.56rem;
}

.page .pc-body .section4 .section-item ul li img {
  height: 100%;
}
.page .pc-body .section51 .section-item {
  background-color: var(--white-color);
  height: auto;
  padding: 0.7rem 0 0;
}

.page .pc-body .section51 .section-item .container {
  align-items: center;
  justify-content: center;
}

.page .pc-body .section51 .section-item > .title {
  text-align: center;
  font-size: 40px;
  line-height: 32px;
  font-weight: 500;
  color: var(--default-color);
  padding-bottom: 20px;
}

.page .pc-body .section51 .section-item > .subtitle {
  text-align: center;
  font-size: 18px;
  line-height: 32px;
  font-weight: 400;
  margin: 0.16rem auto 0.62rem;
  color: var(--default-color);
}

.page .pc-body .section51 .section-item .container .section5-item {
  padding: 0 16px;
  flex: 1;
  color: var(--default-color);
  display: flex;
  justify-content: center;
}

.page .pc-body .section51 .section-item .container .section5-item:first-child {
  padding-left: 0;
}

.page .pc-body .section51 .section-item .container .section5-item:last-child {
  padding-right: 0;
}

.page .pc-body .section51 .section-item .container .section5-item .item-content {/*Ã¦â€Â¹Ã¦Â¡â€ Ã¥Â¤Â§Ã¥Â°Â*/
  height: 400px;
  width: 300px;
  border-radius: 8px;
}

.page .pc-body .section51 .section-item .container .section5-item .item-content {
  background-color: var(--bg-color11);
}

.page .pc-body .section51 .section-item .container .section5-item .item-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.page .pc-body .section51 .section-item .container .section5-item .item-content img {
  width: 300px;
  height: 200px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.page .pc-body .section51 .section-item .container .section5-item .item-content .title {
  font-size: 18px;
  line-height: 0.56rem;
  font-weight: 400;
  margin: 0.24rem 0 0.12rem;
}

.page .pc-body .section51 .section-item .container .section5-item .item-content .subtitle {
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  text-align: center;
}

.page .pc-body .section51 .section-item .container .section5-item .item-content .subtitle p {
  margin-bottom: 0.12rem;
}
.page .pc-body .section61 .section-item {
  background-color: var(--white-color);
  height: auto;
  padding: 0.7rem 0 1rem;
}
.page .container .section-words .between .right1{
  padding-left: 50px;
}
.page .pc-body .section61 .section-item .container {
  align-items: center;
  justify-content: center;
}
.page .pc-body .section7 .container {
  background-color: var(--bg-color11);
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
}
.page .pc-body .section7 .container .title-tips{
  font-size: 40px;
  line-height: 32px;
  font-weight: 500;
  margin-bottom: 0.3rem;
  text-align: center;
}
.image-container div p {
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  color: var(--bg-color7);
  margin-top: 0.24rem;
}
.title11 a {
  font-size: 18px;
  color: #3f3e3e; 
  text-decoration: none; /* 移除下划线 */
  padding-top: 20px;
  padding-left: 40px;
  display: flex;
}
.title11 a:hover {
  color: #84a8c5; 
}
.page .pc-body .section3 .section-item-content .section-item8 .desc1 {
  font-size: 0.24rem;
  line-height: 60px;
  font-weight: 400;
}
.page .pc-body .section3 .section-item-content .section-item8 .subtitle1 {
  font-size: 0.24rem;
  line-height: 60px;
  font-weight: 400;
}
.page .pc-body .section61 .section-item > .title {
  text-align: center;
  font-size: 30px;
  line-height: 32px;
  font-weight: 500;
  color: var(--default-color);
}

.page .pc-body .section61 .section-item > .subtitle {
  text-align: center;
  font-size: 16px;
  line-height: 32px;
  font-weight: 500;
  margin: 0.16rem auto 0.62rem;
  color: var(--font-light-color);
}

.page .pc-body .section61 .section-item .container .section5-item {
  padding: 0 16px;
  flex: 0.4;
  color: var(--default-color);
  display: flex;
  justify-content: center;
}

.page .pc-body .section61 .section-item .container .section5-item:first-child {
  padding-left: 0;
}

.page .pc-body .section61 .section-item .container .section5-item:last-child {
  padding-right: 0;
}

.page .pc-body .section61 .section-item .container .section5-item .item-content {/*Ã¦â€Â¹Ã¦Â¡â€ Ã¥Â¤Â§Ã¥Â°Â*/
  height: 400px;
  width: 300px;
  border-radius: 8px;
}

.page .pc-body .section61 .section-item .container .section5-item .item-content {
  background-color: var(--bg-color11);
}

.page .pc-body .section61 .section-item .container .section5-item .item-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.page .pc-body .section61 .section-item .container .section5-item .item-content img {
  width: 300px;
  height: 200px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.page .pc-body .section61 .section-item .container .section5-item .item-content .title {
  font-size: 20px;
  line-height: 0.56rem;
  font-weight: 500;
  margin: 0.24rem 0 0.12rem;
}

.page .pc-body .section61 .section-item .container .section5-item .item-content .subtitle {
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  text-align: center;
}

.page .pc-body .section61 .section-item .container .section5-item .item-content .subtitle p {
  margin-bottom: 0.12rem;
}
.page .pc-body .section5 .section-item {
  background-color: var(--bg-color12);
  height: auto;
  padding: 0.7rem 0 1.85rem;
}

.page .pc-body .section5 .section-item .container {
  align-items: center;
  justify-content: center;
}

.page .pc-body .section5 .section-item > .title {
  text-align: center;
  font-size: 40px;
  line-height: 32px;
  font-weight: 500;
  color: var(--default-color);
  padding-bottom: 20px;
}

.page .pc-body .section5 .section-item > .subtitle {
  text-align: center;
  font-size: 18px;
  line-height: 32px;
  font-weight: 400;
  margin: 0.16rem auto 0.62rem;
  color: var(--default-color);
}

.page .pc-body .section5 .section-item .container .section5-item {
  padding: 0 16px;
  flex: 1;
  color: var(--white-color);
}

.page .pc-body .section5 .section-item .container .section5-item:first-child {
  padding-left: 0;
}

.page .pc-body .section5 .section-item .container .section5-item:last-child {
  padding-right: 0;
}

.page .pc-body .section5 .section-item .container .section5-item .item-content {/*Ã¦â€Â¹Ã¦Â¡â€ Ã¥Â¤Â§Ã¥Â°Â*/
  height: 5.3rem;
  border-radius: 8px;
}

.page .pc-body .section5 .section-item .container .section5-item1 .item-content {
  background-color: var(--bg-color8);
}

.page .pc-body .section5 .section-item .container .section5-item2 .item-content {
  background-color: var(--bg-color9);
}

.page .pc-body .section5 .section-item .container .section5-item3 .item-content {
  background-color: var(--bg-color10);
}

.page .pc-body .section5 .section-item .container .section5-item .item-content {
  padding: 0.25rem 0.54rem 0.45rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.page .pc-body .section5 .section-item .container .section5-item .item-content img {
  width: 1rem;
  height: 1rem;
}

.page .pc-body .section5 .section-item .container .section5-item .item-content .title {
  font-size: 0.24rem;
  line-height: 0.56rem;
  font-weight: 500;
  margin: 0.24rem 0 0.12rem;
}

.page .pc-body .section5 .section-item .container .section5-item .item-content .subtitle {
  font-size: 14px;
  line-height: 28px;
  font-weight: 400;
  text-align: center;
}

.page .pc-body .section5 .section-item .container .section5-item .item-content .subtitle p {
  margin-bottom: 0.12rem;
}

/* Ã§Â§Â»Ã¥Å Â¨Ã§Â«Â¯Ã¦Â Â·Ã¥Â¼Â */
.page .mobile-body {
  display: none;
}

.page .mobile-body .section {
  width: 100%;
  height: auto;
}

.page .mobile-body .section .section-item {
  width: 100%;
  height: auto;
  padding-top: 0.32rem;
  
}

.page .mobile-body .section1 .section-top {
  width: 100%;
  height: auto;
  text-align: center;
  margin-top: 0.3rem;
}

.page .mobile-body .section1 .section-top img {
  width: 100%;
  border-radius: 0.08rem;
}

.page .mobile-body .section .title-tips {
  font-size: 30px;
  line-height: 0.32rem;
  font-weight: 500;
  color: var(--black-color1);
  position: relative;
  text-align: center;
  margin-bottom: 0.1rem;
  padding-bottom: 20px;
}

.page .mobile-body .section .title-tips i {
  display: inline-block;
  width: 0.24rem;
  height: 2px;
  position: absolute;
  left: 50%;
  bottom: -4px;
  margin-left: -0.12rem;
  background-color: var(--black-color1);
}

.page .mobile-body .section1 .section-bottom .title-tips {
  margin-top: 0;
}

.page .mobile-body .section1 .section-bottom .title {
  font-size: 0.16rem;
  line-height: 0.2rem;
  font-weight: 500;
  color: var(--main-color2);
  margin-bottom: 0.08rem;
}

.page .mobile-body .section1 .section-bottom .title i {
  color: #DD2C00;
  font-weight: 700;
}

.page .mobile-body .section1 .section-bottom .desc p {
  display: inline-block;
  width: 100%;
  font-size: 0.16rem;
  line-height: 0.32rem;
  font-weight: 400;
  color: var(--font-color);
  margin-bottom: 0.32rem;
}

.page .mobile-body .section1 .section-bottom .desc p:last-child {
  margin-bottom: 0;
}

.page .mobile-body .section2 .section-item .container .section-bottom img {
  width: 100%;
  margin-bottom: 0.2rem;
  margin-top: 0.15rem;
}

.page .mobile-body .section3 .section-item .container .section-bottom {
  padding-bottom: 0.32rem;
}
.section-words {  
  display: flex;  
  align-items: center;
}
.page .mobile-body .section2 .section-item .container .section-bottom p {
  font-size: 14px;
  line-height: 32px;
  font-weight: 400;
  color: var(--main-color2);
  text-indent: 2em;
}
.page .mobile-body .section3 .section-item {
  padding: 0.3rem 0;
}

.page .mobile-body .section3 .section-item.section-item1 {
  background-color: var(--white-color);
}
.page .mobile-body .section3 .section-item.section-item2 {
  background-color: var(--bg-color12);
}
.page .mobile-body .section3 .section-item.section-item3 {
  background-color: var(--white-color);
}
.page .mobile-body .section3 .section-item.section-item4 {
  background-color: var(--bg-color12);
}
.page .mobile-body .section3 .section-item.section-item5 {
  background-color: var(--default-color);
}
.page .mobile-body .section3 .section-item.section-item6 {
  background-color: var(--bg-color4);
}
.page .mobile-body .section3 .section-item.section-item7 {
  background-color: var(--bg-color5);
}
.page .mobile-body .section3 .section-item.section-item8 {
  background-color: var(--bg-color6);
}
.page .mobile-body .section3 .section-item.section-item9 {
  background-color: var(--bg-color4);
}
.page .mobile-body .section3 .section-item.section-item10 {
  background-color: var(--bg-color5);
}
.page .mobile-body .section3 .section-item.section-item11 {
  background-color: var(--default-color);
}


.page .mobile-body .section3 .section-item-content .section-item-img img {
  width: 100%;
}
.page .mobile-body .section3 .section-item-content .section-item-img1 img {
  width: 350px;
    border-radius: 10px;
    justify-content: center;
    display:flex ;
}
.video-wrapper1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height:auto;
}
.video-wrapper1 video {
  width: 100%;
  height: 100%;
  object-fit: contain ; /* Ã¦Ë†â€“Ã¨â‚¬â€¦Ã¤Â½Â¿Ã§â€Â¨Ã¥â€¦Â¶Ã¤Â»â€“Ã¥ÂË†Ã©â‚¬â€šÃ§Å¡â€žÃ¥â‚¬Â¼Ã¥Â¦â€š contain */
}
.section-item-img1, .video-wrapper1 {
  display: inline-block;
  vertical-align: top;
}
.page .mobile-body .section3 .section-item-content .section-item-words {
  width: 100%;
  text-align: center;
  color: var(--default-color);
}
.page .mobile-body .section3 .section-item-content .section-item-words1 {
  width: 100%;
  text-align: center;
  color: var(--default-color);
}
.page .mobile-body .section3 .section-item-content.section-item2 .section-item-words,
.page .mobile-body .section3 .section-item-content.section-item4 .section-item-words {
  color: var(--default-color);
}

.page .mobile-body .section3 .section-item-content .section-item-words .title {
  display: block;
  font-size: 30px;
  line-height: 0.32rem;
  font-weight: 500;
  color: black;
}

.page .mobile-body .section3 .section-item-content .section-item-words .subtitle {
  display: block;
  font-size: 16px;
  line-height: 0.3rem;
  font-weight: 500;
  margin-top: 0.1rem;
  margin-bottom: 0.1rem;
}

.page .mobile-body .section3 .section-item-content .section-item-words .desc {
  font-size: 14px;
  line-height: 0.24rem;
  font-weight: 400;
}
.page .mobile-body .section3 .section-item-content .section-item-words1 .title {
  display: block;
  font-size: 0.2rem;
  line-height: 0.4rem;
  font-weight: 400;
}

.page .mobile-body .section3 .section-item-content .section-item-words1 .subtitle {
  display: block;
  font-size: 0.16rem;
  line-height: 0.3rem;
  font-weight: 500;
  margin-top: 0.1rem;
  margin-bottom: 0.1rem;
}

.page .mobile-body .section3 .section-item-content .section-item-words1 .desc {
  font-size: 0.1rem;
  line-height: 0.28rem;
  font-weight: 400;
}

.page .mobile-body .section3 .section-item-content .section-item-words .desc p:last-child {
  margin-bottom: 0;
  color: black;
  font-size: 14px;
  line-height: 0.24rem;
}

.page .mobile-body .section4 .section-item ul {
  width: 100%;
  text-align: center;
}

.page .mobile-body .section4 .section-item ul li {
  display: block;
  height: 0.32rem;
  margin-bottom: 0.16rem;
}

.page .mobile-body .section4 .section-item ul li img {
  height: 100%;
}
.page .mobile-body .section52 .section-item {
  width: 100%;
  background-color: var(--white-color);
  height: auto;
  padding-bottom: 0.66rem;
}

.page .mobile-body .section52 .section-item .container  {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: flex-start;
}

.page .mobile-body .section52 .section-item .container .section5-item {
  height: auto;
  color: var(--default-color);
  margin-bottom: 0.16rem;
  flex: 1 1 50%;
  display: inline-flex;
  width: 50%;
  padding: 10px;
  justify-content: center;
}

.page .mobile-body .section52 .section-item .container .section5-item:last-child {
  margin-bottom: 0;
}

.page .mobile-body .section52 .section-item .container .section5-item .item-content {
  background-color: var(--bg-color11);
}


.page .mobile-body .section52 .section-item .container .section5-item .item-content {
  height: 200px;
  width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 8px;
}

.page .mobile-body .section52 .section-item .container .section5-item .item-content img {
  width: 150px;
  height: 100px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.page .mobile-body .section52 .section-item .container .section5-item .item-content .title {
  font-size: 14px;
  line-height: 0.32rem;
  font-weight: 400;
  margin: 0.12rem 0 0.12rem;
}

.page .mobile-body .section52 .section-item .container .section5-item .item-content .subtitle {
  font-size: 0.14rem;
  line-height: 0.24rem;
  font-weight: 400;
  text-align: center;
}

.page .mobile-body .section52 .section-item .container .section5-item .item-content .subtitle p {
  margin-bottom: 0.08rem;
}

.page .mobile-body .section52 .section-item .container .section5-item .item-content .subtitle p:last-child {
  margin-bottom: 0;
}
.page .mobile-body .section51 .section-item {
  width: 100%;
  background-color: var(--white-color);
  height: auto;
  padding-bottom: 0.66rem;
}

.page .mobile-body .section51 .section-item .container  {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 280px;
  flex-wrap: wrap;
  align-content: flex-start;
}

.page .mobile-body .section51 .section-item .container .section5-item {
  height: auto;
  color: var(--default-color);
  margin-bottom: 0.16rem;
  flex: 1 1 50%;
  display: inline-flex;
  width: 50%;
}

.page .mobile-body .section51 .section-item .container .section5-item:last-child {
  margin-bottom: 0;
}

.page .mobile-body .section51 .section-item .container .section5-item .item-content {
  height: 300px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 8px;
  background-color: var(--bg-color11);
}

.page .mobile-body .section51 .section-item .container .section5-item .item-content img {
  width: auto;
  height: 150px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.page .mobile-body .section51 .section-item .container .section5-item .item-content .title {
  font-size: 0.1rem;
  line-height: 0.32rem;
  font-weight: 500;
  margin: 0.12rem 0 0.12rem;
}

.page .mobile-body .section51 .section-item .container .section5-item .item-content .subtitle {
  font-size: 0.14rem;
  line-height: 0.24rem;
  font-weight: 400;
  text-align: center;
}

.page .mobile-body .section51 .section-item .container .section5-item .item-content .subtitle p {
  margin-bottom: 0.08rem;
}

.page .mobile-body .section51 .section-item .container .section5-item .item-content .subtitle p:last-child {
  margin-bottom: 0;
}
.page .mobile-body .section5 .section-item {
  width: 100%;
  background-color: var(--bg-color12);
  height: auto;
  padding-bottom: 0.66rem;
}

.page .mobile-body .section5 .section-item .container .section5-item {
  width: 100%;
  height: auto;
  color: var(--bg-color12);
  margin-bottom: 0.16rem;
}

.page .mobile-body .section5 .section-item .container .section5-item:last-child {
  margin-bottom: 0;
}

.page .mobile-body .section5 .section-item .container .section5-item1 .item-content {
  background-color: var(--bg-color8);
}

.page .mobile-body .section5 .section-item .container .section5-item2 .item-content {
  background-color: var(--bg-color9);
}

.page .mobile-body .section5 .section-item .container .section5-item3 .item-content {
  background-color: var(--bg-color10);
}

.page .mobile-body .section5 .section-item .container .section5-item .item-content {
  height: 3.1rem;
  padding: 0.2rem 0.32rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 8px;
}

.page .mobile-body .section5 .section-item .container .section5-item .item-content img {
  width: 0.54rem;
  height: 0.54rem;
}

.page .mobile-body .section5 .section-item .container .section5-item .item-content .title {
  font-size: 0.2rem;
  line-height: 0.32rem;
  font-weight: 500;
  margin: 0.12rem 0 0.12rem;
}

.page .mobile-body .section5 .section-item .container .section5-item .item-content .subtitle {
  font-size: 14px;
  line-height: 0.24rem;
  font-weight: 400;
  text-align: center;
}

.page .mobile-body .section5 .section-item .container .section5-item .item-content .subtitle p {
  margin-bottom: 0.08rem;
}

.page .mobile-body .section5 .section-item .container .section5-item .item-content .subtitle p:last-child {
  margin-bottom: 0;
}
/*
@media (max-width: 1199px) {
  .page .pc-body .section1 .section-right .title-tips {
    line-height: 28px;
    height: 28px;
  }
  .page .pc-body .section1 .section-right .title-tips span {
    font-size: 14px;
    line-height: 28px;
  }
  .page .pc-body .section1 .section-right .desc p {
    font-size: 14px;
    line-height: 28px;
  }
  .page .pc-body .section2 .section-item .container .section-left .section-words p.subtitle {
    font-size: 14px;
    line-height: 28px;
  }
  .page .pc-body .section3 .section-item.section-item-feature .section-words p.subtitle {
    font-size: 12px;
    line-height: 20px;
  }
  .page .pc-body .section3 .section-item-content .section-item-words .desc {
    font-size: 12px;
    line-height: 20px;
  }
  .page .pc-body .section5 .section-item > .subtitle {
    font-size: 14px;
    line-height: 28px;
  }
  .page .pc-body .section5 .section-item .container .section5-item {
    padding: 0 14px;
  }
  .page .pc-body .section5 .section-item .container .section5-item .item-content .subtitle {
    font-size: 12px;
    line-height: 20px;
  }
}*/
.page .pc-body .section-item.section-item-feature .img1 img{
  width: 600px;
  height:300px;
  margin-top: 50px;
 }
@media (max-width: 1250px) and (min-width: 925px) {
 .page .pc-body .section11 .section-item .container .section5-item .item-content {
  height: 200px;
  width: 800px;
 }
 .left-logo img {
  width: 150px; 
  height: auto; 
}
.page .container .section-words .between .right1{
  padding-left: 0px;
}
 .page .pc-body .section-item.section-item-feature .img1 img{
  width: 500px;
  height:300px;
  margin-top: 50px;
 }

.title11 a {
  font-size: 18px;
}
.desc1 p {
  font-size: 18px;
}
.page .pc-body .section7 .container .desc {
  font-size: 16px;
  text-indent: 0;
  padding-left: 40px;
}
.desc1 p {
  font-size: 16px;
}
.page .pc-body .section3 .section-item.section-item-feature .section-words p.subtitle {
  font-size: 16px;
  width: 500px;
}

.page .pc-body .section3 .section-item-content .section-item-words .subtitle {
  font-size: 24px;
  padding-bottom: 20px;
}
.subtitle1 {
  font-size: 24px;
  padding-bottom: 20px;
}
.page .pc-body .section51 .section-item > .subtitle {
  font-size: 16px;
}
.page .pc-body .section5 .section-item > .subtitle {
  font-size: 16px;
}
.page .pc-body .section .section-item {
  min-height: 500px;
}
.page .pc-body .section3 .section-item.section-item-feature {
  height: 700px;
}
}
@media (max-width: 925px) {
  .page {
    padding-top: 80px;
  }
  .page .pc-body {
    display: none;
  }
  .page .mobile-body {
    display: block;
  }
}
@media (max-width: 925px) and (min-width: 600px) {
  .logo-box img {
    width: 150px;
    height: auto;
}
  .page .mobile-body .section51 .section-item .container .section5-item {
    height: auto;
    color: var(--default-color);
    margin-bottom: 0.16rem;
    flex: 1 1 50%;
    display: inline-flex;
    height: 150px;
    width: 600px;
}
.page .mobile-body .section51 .section-item .container .section5-item .item-content {
  height: 150px;
  width: 600px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border-radius: 8px;
  background-color: var(--bg-color11);
}
.page .mobile-body .section51 .section-item .container .section5-item .item-content img {
  width: auto;
  height: 150px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 0;
}
.page .mobile-body .section51 .section-item .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 280px;
  flex-wrap: wrap;
  align-content: center;
}
.page .mobile-body .section3 .section-item-content .section-item-img1 img {
  width: 600px;
  border-radius: 10px;
  justify-content: center;
  display: flex;
}
.page .mobile-body .section52 .section-item .container .section5-item .item-content img {
  width: 250px;
  height: 300px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.page .mobile-body .section52 .section-item .container .section5-item .item-content {
  height: 300px;
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 8px;
}
.page .mobile-body .section .title-tips {
  font-size: 40px;
  line-height: 0.32rem;
}
.page .mobile-body .section2 .section-item .container .section-bottom p {
  font-size: 18px;
}
.page .mobile-body .section3 .section-item-content .section-item-words .subtitle {
  font-size: 28px;
}
.page .mobile-body .section3 .section-item-content .section-item-words .desc {
  font-size: 18px;
}
.page .mobile-body .section3 .section-item-content .section-item-words .desc p:last-child {
  font-size: 18px;
  line-height: 0.2rem;
}
.page .mobile-body .section3 .section-item-content .section-item-words .title {
  font-size: 28px;
}
.page .mobile-body .section52 .section-item .container .section5-item .item-content .title {
  font-size: 18px;
}
.page .mobile-body .section5 .section-item .container .section5-item .item-content .subtitle {
  font-size: 14px;
}
.page .mobile-body .section5 .section-item .container .section5-item .item-content .title {
  font-size: 28px;
}

}

@media (max-width: 525px) {
  .page {
    padding-top: 60px;
  }
  .section-item-words {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
}
}
